*{
    /* border: 1px dashed lightcoral; */
}
/* --- GENERAL --- */
#app{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#0f9a83 0%, #02856f 100px, #d5d5cf 100px, #DBDAD1 100%);
}
#boolzapp{
    width: 80%;
    height: 95%;
}
.row{
    --bs-gutter-x: 0;
}

/* --- LEFT --- */
#left{
    /* border: 1px dashed black; */
}

/* new messages left */
#new-messages{
    background-color: #91d1ff;
    height: 82px;
}
#new-messages > :first-child{
    width: 50px;
    aspect-ratio: 1;
}
#new-messages > :nth-child(2){
    width: calc(100% - 50px);
}
#new-messages svg{
    fill: #A8D7F8;
}

/* search */
#search{
    background-color: #fbfafa;
    height: 46px;
}
#search > :first-child{
    width: 20%;
    height: 30px;
}
#search > :nth-child(2){
    width: 80%;
}
/* chat list left */
#chat-list{
    height: calc(100% - 46px - 82px - 50px);
    overflow-y: scroll;
}
#chat-list li:hover {
    background-color: rgb(244, 244, 244);
}

/* --- RIGHT --- */
#left,
#right{
    height: 100%;
    /* border: 1px dashed red; */
}

/* right head */
#head-left,
#head-right,
#footer-right{
    height: 50px;
    background-color: #E9E9E9;
}
#headright-left,
#headright-right{
    height: 50px;
}
#headright-right{
    margin-right: 15px;
}
.svg-color{
    fill: #AFADAD;
}
.user-info{
    margin-left: 5px;
}
figure{
    width: 40px;
    margin: 5px;
}
p{
    margin: 0px;
}
.name-size{
    font-size: 90%;
}
.last-access{
    font-size: 75%;
}

/* right chat */
#chat{
    height: calc(100% - 100px);
    background-image: url(../img/background-chat.png);
    background-size: contain;
    background-repeat: repeat;
    overflow-y: scroll;
}
.user-one{
    align-self: flex-end;
    background-color: #DDF7BF;
    padding: 2% 5% 1%;
    border-radius: 10px;
    /* width: 45%; */
}
.user-two{
    align-self: flex-start;
    background-color: white;
    padding: 2% 5% 1%;
    border-radius: 10px;
    /* width: 45%; */
}

/* footer right */
#footer-right{
    padding: 5px 25px;
}
.svg-darker{
    fill: #6D7275;
}
#footer-right input{
    height: 30px;
    width: 90%;
}
#search input::placeholder,
#footer-right input::placeholder {
    font-size: 75%;
    padding-left: 5px;
}